<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :lastname, required: true, autofocus: true  %>
    <%= f.input :firstname, required: true %>
    <%= f.input :email, required: true %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.association :company, include_blank: false, label: "Entreprise" %> 
    <%= f.input :type, label: "Type", collection: [["Admin", "Admin"], ["Membre", "Member"]],
    include_blank: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
