<h1>Gestion des utilisateurs</h1>
<%= link_to 'Retour', reports_path, class: 'btn btn-default' %>

<table class="table">
    <th>Nom</th>
    <th>Prénom</th>
    <th>Statut</th>
    <th>Créé</th>
    <th>Actions</th>

    <% @users.each do |d| %>
      <% if current_user != d %>
        <tr>
          <td><%= d.firstname %></td>
          <td><%= d.lastname %></td>
          <td><%= d.type %></td>
          <td><%= l d.created_at.in_time_zone("Paris"), format: :long %></td>
          <td>
            <%= link_to 'Editer', {controller: 'users', action: "edit", id: d.id}, class: 'btn btn-success' %>
            <%= button_to "delete", {:controller => :users, :action => 'destroy', :id => d.id }, :method => :delete %>
        </tr>
      <% end %>
    <% end %>
</table>
