<h1>Listing des types de signalement</h1>
<%= link_to 'Retour', reports_path, class: 'btn btn-default' %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Private</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @report_types.each do |report_type| %>
      <tr>
        <td><%= report_type.name %></td>
        <td><%= report_type.private %></td>
        <td>
          <%= link_to 'Editer', edit_report_type_path(report_type), class: 'btn btn-success' %>
          <%= link_to 'Supprimer', report_type, method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: 'btn btn-warning'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Créer un type de signalement', new_report_type_path, class: 'btn btn-success' %>
