<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @report_type.name %>
</p>

<p>
  <strong>Private:</strong>
  <%= @report_type.private %>
</p>

<%= link_to 'Editer', edit_report_type_path(@report_type) %> |
<%= link_to 'Retour', report_types_path %>
