<%= simple_form_for @report, html: { class: "form-horizontal" } do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :priority %>
  <%= f.input :city %>
  <%= f.association :report_type, :include_blank => false, :label => "Type de signalement" %> 
  <%= f.input :longitude %>
  <%= f.input :latitude %>
  <%= f.input :reporter_name %>
  <%= f.input :reporter_numero %>
  <%= f.input :reporter_email %>

  <%= f.fields_for :pictures do |p| %>
    <div class="field">
      <%= p.label "Fichier" %><br>
      <%= p.file_field :path, :multiple => true, name:"pictures[path][]" %>
    </div>
  <% end %>

  <%= f.submit 'Valider', class: 'btn btn-success' %>
<% end %>
