<%= simple_form_for @report do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :priority %>
  <%= f.input :city %>
  <%= f.association :report_type, include_blank: false %> 
  <%= f.input :longitude %>
  <%= f.input :latitude %>
  <%= f.input :state %>
  <%= f.input :reporter_name %>
  <%= f.input :reporter_numero %>
  <%= f.input :reporter_email %>

  <% @report.pictures.each do |p| %>
      <li><%= image_tag p.path.to_s, :class => "img-table" if p.path.present? %></li>
      <li><%= link_to 'Supprimer', p, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %></li>
  <% end %>

  <%= f.submit 'Valider', class: 'btn btn-success' %>
<% end %>


