<h1>Editer le signalement N°<%= @report.id %> du <%= @report.created_at.strftime("%d/%m/%Y") %></h1>
<%= link_to 'Retour', reports_path, class: 'btn btn-default' %>
  <%= render 'form_edit_report' %>
