<h1>Les signalements</h1>
<%= link_to 'Gérer les type de signalement', {controller: 'report_types', action: "index" }, class: 'btn btn-default' %>
<% if current_user.is_a? Admin %>
    <%= link_to 'Gérer les membres', {controller: 'users', action: "index" }, class: 'btn btn-default' %>
<% end %>
<%= link_to 'Se déconnecter', destroy_user_session_url, method: :delete, class: 'btn btn-danger' %>

<table class="table">
    <th>Nom</th>
    <th>Description</th>
    <th>Statut</th>
    <th>Créé</th>
    <th>Photo</th>
    <th>Actions</th>
    <% @reports.each do |d| %>
      <tr>
        <td><%= d.name %></td>
        <td><p class="desc-p"><%= d.description %></p></td>
        <td><%= d.state %></td>
        <td><%= l d.created_at.in_time_zone("Paris"), format: :long %></td>
        <td>
            <ul>
            <% d.pictures.each do |p| %>
                <li><%= image_tag p.path.to_s, :class => "img-table" if p.path.present? %></li>
            <% end %>
            </ul>
        </td>
        <td>
            <%= link_to 'Editer', {controller: 'reports', action: "edit", id: d.id}, class: 'btn btn-success' %>
            <%= link_to 'Supprimer', d, method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: 'btn btn-warning' %>
        </td>
      </tr>
    <% end %>
</table>
